{% entends "base.html" %}
{% block title %} My Books!
{% block content %}
 <h1>
     My books:
 </h1>
    {% if books  %}
    <ul>
        {% for book in boo%}
        <li>
            {{ book }}
            <form action="{% url 'confirm_book' book.id %}" method="get" style="dispay:inline"></form>
                {% csrf_token  %}
                <button tupe="submit">Delete</button>

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You have no books. </p>
{% endif %}

</body>
</html>
{% endblock %}